:root {
    --dark: rebeccapurple;
    --light: #e5d8f3;
}

h1 {
    text-align: center;
}

button {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    background-color: var(--light);
    font-size: large;
    opacity: 100%;
}

button:hover {
    opacity: 90%;
}

button:active {
    transform: translateY(1px);
}

#frameBox {
    border: 1px solid grey;
    border-radius: 3%;
    width: 350px;
    height: auto;
    margin: auto;
    padding: 10px;
}

#display {
    margin: 9px;
    padding: 0 1em 0.5em 1em;
    height: 4em;
    text-align: right;
    line-height: 0.5em;
    border: 1px solid var(--dark);
    border-radius: 5px;
    background-color: var(--light);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

#displayText {
    font-size: 1.5em;
}

#buttonBox {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 350px;
}

.numbtn {
    background-color: var(--dark);
    color: var(--light);
}

#clear {
    grid-column: 1 / span 2;
}
#eq {
    grid-column: 3 / span 2;
}
#add {
    grid-column: 3 / span 2;
}

footer {
    padding: 10px;
    text-align: center;
}